.App {
	text-align: center;
}
.App-header {
	background-image: url("./assets/images/bg-main-mobile.png");
	background-size: cover;
	background-color: #4e087f;
}
.App-header__container {
	position: relative;
	padding-block: 2rem;
	width: fit-content;

	margin: auto;
}
.c-card--front {
	position: absolute;
	inset: 8rem 6rem auto auto;
	max-width: 20rem;
	padding: 0;
	margin: 0;
}
.c-card--front__container {
	max-width: 20rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.c-card--back {
	margin-left: 6rem;
	max-width: 20rem;
}
.c-card--back__container {
	max-width: 20rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.c-card--cvc {
	position: absolute;
	inset: 6.6rem 2.5rem auto auto;
	color: white;
}
.c-card--logo {
	position: absolute;
	inset: 1rem auto auto 1rem;
	color: white;
	width: 4rem;
}
.c-card--number {
	position: absolute;
	inset: 6rem auto auto 1rem;
	color: white;
}
.c-card--name {
	position: absolute;
	inset: 8rem auto auto 1rem;
	color: white;
	text-transform: uppercase;
	font-size: small;
}
.c-card--expiry {
	position: absolute;
	inset: 8rem 1.5rem auto auto;
	color: white;
	font-size: small;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	padding: 6rem 2rem;
	gap: 1.75rem;
	max-width: 25rem;
	margin: auto;
}
.success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 6rem 2rem;
	gap: 1.75rem;
	max-width: 25rem;
	margin: auto;
}
.success-text {
	color: var(--c-d-gray-violet);
}

.Form--label {
	padding-block: 0.5rem;
	color: var(--c-vd-violet);
}
input {
	padding-block: 0.75rem;
	width: 100%;
	text-indent: 1rem;
	border-radius: 5px;
	outline: none;
	border: 2px solid var(--c-l-gray-violet);

	color: var(--c-d-gray-violet);
}
input:focus {
	outline: none;
	/* border-color: #4e087f; */
	border-color: initial;
	border-image: linear-gradient(
		90deg,
		hsl(278, 94%, 30%) 0%,
		hsl(249, 99%, 64%) 100%
	);
	border-image-slice: 1;
	border-radius: 15;
}
.show-error-border input:focus,
.show-error-border input,
.show-error-border {
	outline: none;
	/* border-color: #4e087f; */
	border-color: var(--c-red);

	border-radius: 15;
}

button {
	width: 100%;
	padding-block: 1rem;
	font-weight: bold;
	background-color: var(--c-vd-violet);
	color: var(--c-white);
	border: none;
	border-radius: 5px;
}
@media (min-width: 1200px) {
	/* … */
	.App {
		display: flex;
		height: 100vh;
	}
	.App-header {
		background-image: url("./assets/images/bg-main-desktop.png");
		background-size: cover;
		background-color: #4e087f;
		width: 33%;
	}
	.App-header__container {
		height: 100%;
	}
	main {
		display: grid;
		margin: auto;
		width: 30rem;
	}
	.c-card--back {
		position: absolute;
		inset: auto auto 25% 40%;
	}
	.c-card--front {
		inset: 25% auto auto 50%;
	}
	.c-card--cvc {
		inset: 4.6rem 2.5rem auto auto;
	}
}

.on-error {
	color: var(--c-red);
	display: none;
}
.show-error {
	display: block;
}
