@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}
:root {
	--c-white: hsl(0, 0%, 100%);
	--c-l-gray-violet: hsl(270, 3%, 87%);
	--c-d-gray-violet: hsl(279, 6%, 55%);
	--c-vd-violet: hsl(278, 68%, 11%);
	--c-red: hsl(0, 100%, 66%);
}
body {
	font-family: "Space Grotesk", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.flex {
	display: flex;
	gap: 2rem;
}
.w-100 {
	width: 100%;
}

.linear-gradient {
	background: linear-gradient(
		90deg,
		hsl(278, 94%, 30%) 0%,
		hsl(249, 99%, 64%) 100%
	);
}
